body
{
    font-family: 'Raleway';
}  

h6
{
    font-style: italic;
}  

#start
{
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.log
{
   width: 20%;
} 

.navigation
{
    margin-left: auto;
} 

#mobile
{
    margin-right: 2em;
}


#menu
{
    display: flex;
    flex-direction: row;
}

.maple
{
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
} 

#barre
{
    width: 200px;
    height: 30px;
    border: 2px solid #F2F2F2 ;
} 

.blue
{
    color: #0065FC;
}

.point
{
    padding: 5px 10px 5px 10px;
    border: #F2F2F2 solid 1px;
    border-radius: 30px;
}

.log1
{
    justify-content: space-between;
    margin: 30px;
}

h6
{
    display: inline;
}

.button
{
   color: white;
   padding: 10px;
   padding-right: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border: solid #F2F2F2 1px;
   background-color: #0065FC ;
   border-left: solid 1px;
}

.flag:hover
{
    border-top: 1px solid #0065FC ;
    color: #0065FC;
}

.flag
{
    padding-top: 3em;
}

.esp
{
    margin-right: 3em;
}

#conteneur
{
    display: flex;  
}

#text3
{
    margin: 16px;
}

.filtre
{
   text-decoration: none;
   color: none;
   margin: 5px;
   padding-right: 10px;
   border-radius: 40px /40px;
   border: 2px solid #F2F2F2;
}

.here 
{
    background-color:#DEEBFF;
    border-radius: 20px;
    padding: 10px 10px 10px 10px ;
}

#hotel
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}

#java
{
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 12px; 
}

#hebergement
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.photo
{
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 6px 6px lightgrey;
    padding-left: 1%;
    width: 30%;
    height: 32%;
}  

.pic
{
    border-radius: 10px;
    object-fit: cover;
    width: 95%;
    height: 55%;
    padding-top: 5px;
}

.indoor
{
    width: 90%;
    height: 55%;
} 

.photocorner
{
    display: flex;
    flex-direction: row;
}  

.pic1
{
    width: 40%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}  

.texte
{
    margin: auto;
    padding-left: 6px;
}

.yop
{
    width: 23%;
    height: 13%;
}

#populaire 
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 31%;
}

.corner
{
    display: flex;
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 6px 6px grey;
    margin:auto;
    padding: 6px;
    width: 85%;
    height: 25%;
} 

.inside
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

a
{
    text-decoration: none;
    color: black;
} 

.filtre :hover 
{
    text-decoration: none;
    color:white;
    background-color: #0065FC ;
} 

#activites2
{
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-around;
}

.mere
{
    width: 20%;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colonne
{
    height: 90%;
}

.vieux
{
   width: 100%;
   height: 100%;
   border-radius: 7px;
    box-shadow: 5px 5px 5px 5px grey;
    overflow: hidden;
}

.enfant1
{
    justify-content: space-between;
    height: 45%;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px grey;
    overflow: hidden;
}

.corner22
{
    height: 90%;
    width: 100%;
    object-fit: cover;
} 

.corner32
{
    height: 80%;
    width: 100%;
    object-fit: cover;
} 

.grey
{
    color: #F2F2F2;
}

#footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;  
}
 
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li {
    margin-bottom:15px;/* à adapter */
}

@media screen and (max-width: 750px)
{
    #start
    {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
    } 

    #logo
    {
        width: 40%;
    } 
   
    #menu
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        font-size: 15px;
    } 

    .navigation
    {
     width: 100%;
     text-align: center; 
     order: 2;
    }

    .vieux
    {
        width: 100%;
        height: 45%;
    }
   
    .corner22
    {
        width: 100%;
        height: 85%;
    }

    #telephone
    {
        display: flex;
        align-content: space-around;
    }

    .esp
    {
        padding-right: 4em;  
      }

    .flag
    {
        border-bottom: 2px solid #F2F2F2;
      }


    .flag:hover
    {
        border-bottom: 2px solid #0065FC ;
        color: #0065FC;
    }

    .log
    {
        min-width: 50%;
    } 

    .log1
    {
        order: 1;
    }

    .phone
    {
        color: #0065FC;
    } 

    #conteneur
    {
        flex-wrap: wrap;
        max-width: 80%;
    } 
    
    .texte
    {
        margin-left: 3em;
        padding-left: 6px;
        padding-top: 2em;
    }

    #hotel
    {
        flex-direction: column-reverse
    } 

    #hebergement
    {
        flex-direction: row;
        align-content: space-between;
        width: 95%;  
        height: 1300px;
        margin: auto;
    } 

    .photo
    {
        width: 100%;
        height: 200px;
    } 

    .pic
    {
        width: 97%;
        height: 60%;
    } 

    #java
    {
        width: 100%;
        height: auto;
    } 

    #populaire
    {
        justify-content: space-between;
        width: 100%;
        height: 650px;
    } 
    
   .inside
    {
        width: 95%;
        height: 90%;  
        margin: auto;
    } 

    .corner
    {
        width: 95%;
    } 

    .pic1
    {
        width: 40%;
    } 

    #activites2
    {
        flex-direction: column;
        height: 1950px;
    } 

    .mere
    {
        flex-direction: column;
        width: 100%;
        margin-bottom: auto;
    } 

    .colonne
    {
       height: auto;
    } 

    #footer
    {
        flex-direction: column;
        
    } 
}

    @media screen and (min-width : 751px) and (max-width : 991px)
    {
        #logo
        {
            width: 80%;
        } 

        #hotel
        {
            flex-direction: column;
            height: 1200px;
        } 

        #java
        {
            width: 95%;
            height: 620px;
            margin: auto;
        } 

        #hebergement
        {
            height: 490px;
        } 

        .photo
        {
            height: 40%;
            width: 30%;
        } 

        .inside
        {
            height: 75%;
        }  

        #populaire
        {
            width: 95%;
            height: 490px;
            margin: auto;
        }

        #activites2
        {
            height: 350px;
        }

        .vieux
        {
            width: 100%;
            height: 100%;
        }

        .mere
        {
            width: 20%;
        }

        .colonne
        {
            height: 90%;
            
        }
        
        .enfant1
        {
            height: 46%;

        }

        .corner32
        {
            height: 72%;
            width: 100%;
        }
        
        .corner22
        {
            height: 85%;
            width: 100%;
        }




    }





    

