body
{
    font-family: 'Raleway';
}  

h6
{
    font-style: italic;
}  

#start
{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.log
{
   width: 20%;
} 

.maple
{
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
} 
#barre
{
    width: 200px;
    height: 30px;
    border: 2px solid #F2F2F2 ;
} 

.blue
{
    color: #0065FC;
}

.point
{
    padding: 5px 10px 5px 10px;
    border: #F2F2F2 solid 1px;
    border-radius: 30px;
}

.log1
{
    justify-content: space-between;
    padding-top: 40px;
    margin: 30px;
}

.button
{
   color: white;
   padding: 10px;
   padding-right: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border: solid #F2F2F2 1px;
   background-color: #0065FC ;
   border-left: solid 1px;
}

.flag:hover
{
    border-top: 1px solid #0065FC ;
    color: #0065FC;
}

#conteneur
{
    display: flex;  
}

#text3
{
    margin: 16px;
}

.filtre
{
   text-decoration: none;
   color: none;
   margin: 5px;
   padding-right: 10px;
   border-radius: 40px /40px;
   border: 2px solid #F2F2F2;
}

.here 
{
    background-color:#DEEBFF;
    border-radius: 20px;
    padding: 10px 10px 10px 10px ;
}

#hotel
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}

#java
{
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 12px; 
}

#hebergement
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.photo
{
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 6px 6px grey;
    width: 30%;
    height: 32%;
}  

.pic
{
    border-radius: 10px;
    object-fit: cover;
    width: 90%;
    height: 60%;
    padding-left: 5px;
    padding-top: 5px;
}

.indoor
{
    width: 90%;
    height: 55%;
} 

.photocorner
{
    display: flex;
    flex-direction: row;
}  

.pic1
{
    width: 40%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}  

.texte
{
    margin: auto;
    padding-left: 6px;
}

.yop
{
    width: 23%;
    height: 13%;
}

#populaire 
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 31%;
}

.corner
{
    display: flex;
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 6px 6px grey;
    margin:auto;
    padding: 6px;
    width: 85%;
    height: 25%;
} 

.inside
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

a
{
    text-decoration: none;
    color: black;
} 

.filtre :hover 
{
    text-decoration: none;
    color:white;
    background-color: #0065FC ;
} 

#activités2
{
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-around;
}

.mere
{
    width: 20%;
    border-radius: 20px ;
}

.vieux
{
   width: 100%;
   height: 50%;
   border-radius: 7px;
    box-shadow: 5px 5px 5px 5px grey;
}

.two
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.corner22
{
    height: 90%;
    width: 100%;
    object-fit: cover;
} 

.corner32
{
    height: 45%;
    object-fit: cover;
} 
.grey
{
    color: #F2F2F2;
}

#footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;  
}
 
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li {
    margin-bottom:15px;/* à adapter */
}

@media screen and (max-width: 750px)
{
    #logo
    {
        width: 80%;
    } 
   
    .log
    {
        min-width: 50%;
    } 

    nav ul
    {
        
    } 

    #conteneur
    {
        flex-wrap: wrap;
        max-width: 80%;
    } 

    #menu
    {
       font-size: 15px;
    } 

    #hotel
    {
        flex-direction: column-reverse
    } 

    #hebergement
    {
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        
    } 

    .photo
    {
        width: 100%;
        height: 20%;
    } 

    #java
    {
        width: 100%;
    } 

    #populaire
    {
        justify-content: space-between;
        width: 100%;
    
    } 
    
   .inside
    {
        width: 90%;
        height: 30%;  
    } 

    .corner
    {
        width: 90%;
        height: 30%;
    } 

    .pic1
    {
        width: 40%;
        height: 30%;
    } 

    #activités2
    {
        flex-direction: column;
    } 

    #footer
    {
        flex-direction: column;
        
    } 






    

}