body
{
    font-family: 'Raleway';
}    

#start
{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.log
{
   width: 20%;
} 

.log1
{
    justify-content: space-between;
    padding-top: 40px;
    margin: 30px;
}

.button
{
   text-decoration: none;
   color: white;
   margin: 5px;
   padding: 4px;
   border-radius: 40px /40px;
   border: solid #F2F2F2 1px;
   background-color: #0065FC ;
   border-left: solid 1px;
}

.flag
{
    border-top: 1px solid #0065FC ;
    color: #0065FC;
}

#conteneur
{
    display: flex;  
}

.filtre
{
   text-decoration: none;
   color: none;
   margin: 5px;
   padding: 4px;
   border-radius: 40px /40px;
   border: solid #F2F2F2 2px;
}

.here 
{
    background-color:#DEEBFF;
    border-radius: 20px;
    padding: 10px 10px 10px 10px ;
}

#hotel
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

#java
{
    background-color: #F2F2F2;
    width: 60%;
    height: 20%;
    border-radius: 12px; 
}

#hebergement
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 45%;
    height: 20%;
}

.photo
{
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 6px 6px grey;
    width: 65%;
    height: 20%;
}  

.pic
{
    border-radius: 10px;
    object-fit: cover;
    width: 90%;
    height: 60%;
    padding-left: 5px;
    padding-top: 5px;
}

.blue
{
    color: #0065FC;
}


.indoor
{
    width: 90%;
    height: 55%;
} 

.photocorner
{
    display: flex;
    flex-direction: row;
}  

.pic1
{
    width: 50%;
    height: 99%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}  
.yop
{
    width: 23%;
    height: 13%;
}

#populaire 
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 30%;
    height: 40%; /*test*/
}

#bali
{
    background-color: #F2F2F2;
    width: 90%; /*test*/
    height: 30%;
    border-radius: 12px; 
}

.corner
{
    display: flex;
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 6px 6px grey;
    margin: 10px;
    padding-left: 8px;
    width: 95%;
} 


.inside
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

a
{
    text-decoration: none;
    color: black;
} 

.filtre :hover 
{
    text-decoration: none;
    color:white;
    background-color: #0065FC ;
} 

#activités2
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}

.vieux2
{
    width: 50%;
} 

.corner22
{
    width: 90%;
    height: 50%;
    object-fit: cover;
} 

.two2
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 90;
  object-fit: cover;
} 

.corner32
{
    width: 90%;
    height: 20%;
    object-fit: cover;
} 
.grey
{
    color: #F2F2F2;
}

#footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;  
}
 
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li {
    margin-bottom:15px;/* à adapter */
}



